<body background="./assets/img/banking.jpg">
 
 
  <header>
    <nav>
      <h1>3 Musketeers Bank</h1>
      <ul class="nav1">
        <li><a routerLink="create" class="homeblack">Create</a> </li>
        <li><a routerLink="update" class="homeblack">Update</a> </li>
        <li><a routerLink="delete" class="homeblack">Delete</a> </li>
        <li><a routerLink="display" class="homeblack">Display</a> </li>
      </ul>
      <ul class="nav2">
        <li></li>
        <li><button type="button" class="homeblack"  (click)="toggle()">logout</button>+</li>
        
      </ul>
    </nav>
  </header>

  

  </body>
  
  
  
  