<body background="./assets/img/banking.jpg">
   <div *ngIf="!lc.login">
    <form class="container" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      Enter Id:      <input type="text"  name="id" placeholder="Enter Id validate" formControlName="userid"><br>
      Enter password:<input type="password"  name="firstname" placeholder="Enter password validate" formControlName="pass1"><br>
      <label for="country">Designation</label>
      <select (change)="selectChangeHandler($event)">
          <option disabled>Choose</option>
          <option value="admin">Admin</option>
        <option value="users">Employee</option>
        <option value="manager">Managers</option>
      </select>
      <input type="submit" value="SUBMIT" [disabled]="!form.valid">
      <br><br>
     </form>
     <h1>{{errorMsg}}</h1>
    </div>
</body>
